#startmenu button{
    display: flex;
    margin: 2rem auto;
    padding: 1rem 2rem;
}
img {
    display: block;
    margin: 2rem auto;
    width: 15rem;
}
body{
    background-color: #50b9da;
}

table{
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    justify-content: center;
    align-content: center;
}
td{
    width: 3rem;
    height: 3rem;
}
td button{
    width: 100%;
    height: 100%;

}

td button:hover{
/*We will attempt to have a question mark here*/
    background: url("images/Target.png") center;
    background-size: cover;
}



#overlay{
    text-align: center;
}
#explanation{
    margin: 5rem auto;
    width: 25rem;
    text-align: center;
    font-size: 1rem;
}
#explanation li{
    list-style: none;
    text-align: center;
}
#endGame{
    text-align: center;
    margin: 50vh auto;
}
div > h1  {
    display: inline-flex;
    padding: 0 2rem;
}
#feedback{
    display: block;
    font-size: 2rem;
}
#title{
    text-align: center;
    display: block;
    font-size: 3rem;
    margin: 2rem 0 5rem 0;
}
#return button{
    display: flex;
    margin: 2rem auto;
    padding: 1rem 2rem;
}

